.cart-item{
  p{
    text-align: right;
  }

  button.remove {
    background-color: red;
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid red;
    border-radius: 10%;

    &:hover {
      color: red;
      background: #fff;
    }
  }
  
  button.increase {
    background-color: green;
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid green;
    border-radius: 50%;

    &:hover {
      color: green;
      background: #fff;
    }
  }

  button.decrease {
    background-color: brown;
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid brown;
    border-radius: 50%;

    &:hover {
      color: brown;
      background: #fff;
    }
  }
}