:host.cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.hovered {
    background: #165fa873;
  }

  p {
    text-align: right;
    margin-right: 24px;
  }

  .quantity {
    position: relative;
    margin-right: 32px;

    input {
      width: 50px;
      height: 36px;
    }

    button {
      position: absolute;
      right: -20px;
      background-color: green;
      padding: 0;
      width: 16px;
      height: 16px;
      border: 1px solid green;


      &:hover {
        color: green;
        background: #fff;
      }
    }

    .increase {
      top: 0;
    }
  
    .decrease {
      bottom: 0;
    }
  }

  button.remove {
    color: red;
    background: #fff;
    border: 1px solid red;
    border-radius: 3px;

    &:hover {
      background: red;
      color: #fff;
    }
  }
  
  
}