.cart{
  text-align: right;

  button.remove {
    background-color: red;
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid red;
    border-radius: 50%;

    &:hover {
      color: red;
      background: #fff;
    }
  }
}