<div class="cart">
    <h4>Cart</h4>
    <div *ngIf="CartProducts.length; else emptyCart"> 
        <div *ngFor="let product of CartProducts">
            {{product.name}}
            ({{product.quantity}})
            <button class="increase" (click)="increaseQuantityOfProduct(product)">+</button>
            <input #inputQuantity>
            <button class="decrease" (click)="decreaseQuantityOfProduct(product)">-</button>
            <button class="remove" (click)="removeFromCart(product)">X</button>
        </div>
    </div>
    <div> Total price = {{TotalSum}} ({{TotalQuantity}} items) </div>
    <ng-template #emptyCart>Cart is empty</ng-template>
</div>
