<div class="cart">
	<h4>Cart</h4>
	<div *ngIf="cartProducts.length; else emptyCart"> 
		<app-cart-item
			*ngFor="let product of cartProducts"
			[cartItem] = "product"
			(increaseQuantity) = "onIncreaseQuantity($event)"
			(decreaseQuantity) = "onDecreaseQuantity($event)"
			(setQuantity) = "onSetQuantity($event)"
			(removeFromCart) = "onRemoveFromCart($event)"
			appChangeBgOnHover
		></app-cart-item>
		<div> Total price = {{totalSum | currency}} ({{totalQuantity}} items) </div>
	</div>
	
	<ng-template #emptyCart>Cart is empty</ng-template>
</div>
